@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
}
body {
  width: 100%;
  background-color: white;
}
.second-section {
  background-color: white;

  width: 50%;
  margin: 5% auto;
  padding: 80px;
}
.fa-solid {
  position: absolute;
  font-size: 138px;
  left: 250px;
  top: 90px;
  color: lightcoral;
}
.profile {
  max-width: 75px;
  margin: auto 45%;
  border: 2px solid lightcoral;
  border-radius: 50%;
}
h1 {
  color: red;
  margin: 20px 00px 00px 665px;
}
